[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
scikit-learn = "*"
twine = "*"

[dev-packages]
codecov = "*"
coverage = "*"

[requires]
python_version = "3.6"
